<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
     <%= render "users/user_info", Book: @books %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
         <th></th>
         <th></th>
         <th></th>
         <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag @book.user.get_profile_image(100,100) %><br /></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td><%= @book.body %></td>
          <td><%= @book.body %></td>
        </tr>
    </table>

    </div>

  </div>

</div>
